{% if section.settings.homepage_collection %}
{% assign collection = collections[section.settings.homepage_collection] %}
{% endif %}
<!-- /templates/collection.list.liquid -->


{% paginate collection.products by 24 %}

<div class="grid--rev">
  <div class="grid__item large--three-quarters">

    THIS IS THE COLLECTION TEMPLATE
    
      <header class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    
    <div class="grid-uniform">

      <!-- begin product list output -->
      {% for product in collection.products %}

        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
        {% endif %}

        {% assign sold_out = true %}
        {% if product.available %}
          {% assign sold_out = false %}
        {% endif %}

        <div class="grid__item">

          <div class="grid large--display-table">
            <div class="grid__item large--one-fifth large--display-table-cell medium--one-third">
              <a href="{{ product.url | within: collection }}">
                {% for image in product.images %}
                <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt | escape }}" class="grid__image">
                {% endfor %}

              </a>
            </div>
            <div class="grid__item large--four-fifths large--display-table-cell medium--two-thirds">
              <div class="grid">
                <div class="grid__item large--three-quarters medium--two-thirds">
                  <p class="h6">{{ product.title }}</p>
                  <div class="rte">
                    <p>{{ product.content | strip_html | truncatewords: 30 }}</p>
                  </div>
                </div>
                <div class="grid__item large--one-quarter medium--one-third">

                  {% if on_sale %}
                    {% if product.price_varies %}
                      {% assign sale_price = product.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      <strong>{{ 'products.product.on_sale' | t }}</strong>
                      {{ product.price | money }}
                    {% endif %}
                  {% else %}
                    {% if product.price_varies %}
                      {% assign price = product.price | money %}
                      {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                  {% endif %}
                  {% if sold_out %}
                    <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                  {% endif %}
                  {% if on_sale %}
                    <br><span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span><s>{{ product.compare_at_price | money }}</s>
                  {% endif %}
                  
                  
      <h4 class="colorway">
        {{ product.variants.first.option2}}
      </h4>
                </div>
              </div>
            </div>
          </div>

          <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
             {% for variant in product.variants %}

          {% if product.variants.size == 1 %}
          {% else %}

          {% if variant.available %}
          <label class="">
            <input name="id" type="radio" {% if variant == product.selected_or_first_available_variant %} checked="checked" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">
            <div class="radio_opt">
              <span class="radio_opt-content">{{ variant.option1 }}</span>
            </div>
          </label>

          {% else %}

          <label class="sold-out ">
            <input name="id" type="radio" disabled="disabled">
            <div class="radio_opt">
              <span class="radio_opt-content">{{ variant.option1 }}</span>
            </div>
          </label>

          {% endif %}
          {% endif %}

          {% endfor %}
            <!--<input min="1" type="number" id="quantity" name="quantity" value="1"/>-->
            <input type="submit" value="Add to cart" class="btn" />
          </form>

        </div>

      {% else %}

        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endfor %}
      <!-- //product list output -->

    </div>

  </div>
  
        <div id="accordion">
        <h4 class="accordion-toggle">Sizing</h4>
        <div class="accordion-content">
          {% for tag in product.tags %}
          {% if tag contains 'sneaker' %}
          {% include 'sizeguide-all' %}
          {% endif %}
          
           {% if tag contains 'vulc-canvas' %}
          	{% include 'sizeguide-canvas' %}
          {% endif %}
          
           {% if tag contains 'slipon' %}
          	{% include 'sizeguide-canvas2' %}
          {% endif %}
          
          
          {% endfor %}

        </div>
        <h4 class="accordion-toggle">Delivery</h4>
        <div class="accordion-content">
          <p class="detail-list__text">Free worldwide express service shipping. Shipping takes approximately 1 week via express service to your nearest post office. 
          </p>
        </div>
      </div>

</div>

{% endpaginate %}





{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "vendor_show",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "collection_sort_enable",
        "label": "Enable collection sorting",
        "default": true
      },
{
    "type": "text",
    "id": "homepage_collection",
    "label": "Homepage collection"
},
      {
        "type": "checkbox",
        "id": "collection_tag_enable",
        "label": "Enable filtering by product tag",
        "default": false
      }
    ]
  }
{% endschema %}
