<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<h2>{{ 'homepage.sections.featured_title' | t }}</h2>


<div class="grid-uniform">

  <!-- /templates/collection.liquid -->
  {% comment %}

    For more information on collection tags:
      - http://docs.shopify.com/themes/liquid-variables/collection

  {% endcomment %}

  {% paginate collection.products by 12 %}

  {% include 'breadcrumb' %}

  {% comment %}
    Use .grid--rev so that the collection tags appear below the products on mobile
  {% endcomment %}
  <div class="grid--rev">
    <div class="grid__item large--three-quarters">

      {% comment %}
        Different markup if a collection description exists
      {% endcomment %}
      {% if collection.description != blank %}
        <header class="section-header">
          <h1 class="section-header__title">{{ collection.title }}</h1>
          <div class="rte rte--header">
            {{ collection.description }}
          </div>
        </header>
        <hr>
        <div class="section-header">
          <div class="section-header__right">
            {% include 'collection-sorting' %}
          </div>
        </div>
      {% else %}
        <header class="section-header">
          <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
          <div class="section-header__right">
            {% include 'collection-sorting' %}
          </div>
        </header>
      {% endif %}

      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <div class="grid-uniform">

        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}

          {% include 'product-grid-item' %}

        {% else %}

          {% if collection.handle == 'all' and current_tags == '' %}

            {% comment %}
              Add default products to help with onboarding for collections/all only
            {% endcomment %}
            {% unless emptyState %}
              {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
              {% assign emptyState = true %}
            {% endunless %}
            {% include 'onboarding-empty-collection' %}

          {% else %}

            {% comment %}
              If collection exists but is empty, display message
            {% endcomment %}
            <div class="grid__item">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>

          {% endif %}

        {% endfor %}

      </div>

      {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}

    </div>

    <div class="grid__item large--one-quarter">
      {% include 'collection-sidebar' %}
    </div>
  </div>

  {% endpaginate %}


  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
        <div class="grid__item {{ collection_item_width }} text-center">
          {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
          {% endcomment %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p>
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
            {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}

  {% comment %}
    For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
  {% endcomment %}

  {% if isEmpty %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}

</div>
